@{
    var bio = Model.ContentItem.BodyPart;
    var profile = Model.ContentItem.AuthorPart;
    var image = profile.Image.FirstMediaUrl;

    var fb = profile.Facebook.Value;
    var twitter = profile.Twitter.Value;
    var github = profile.Github.Value;
    var google = profile.Google.Value;
}

<center>
    <img src="@image" alt="aboutme" border="0" class="img-circle profile-image">
    <h3 class="media-heading">@profile.DisplayName.Value</h3>
    <span><strong>Skills: </strong></span>
    @Display(Model.Skills)
</center>
<hr>
<p>
    <strong>Bio: </strong><br>
    <div class="well">
        @Display(Model.Body)
    </div>
</p>
<br>
<center>

    <div class="bottom">
        @if (!string.IsNullOrEmpty(twitter))
        {
            <a class="btn btn-primary btn-twitter btn-sm"
               href="https://twitter.com/@twitter"
               target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        }
        @if (!string.IsNullOrEmpty(google))
        {
            <a class="btn btn-danger btn-sm" rel="publisher"
               href="https://plus.google.com/@google"
               target="_blank">
                <i class="fa fa-google-plus"></i>
            </a>
        }
        @if (!string.IsNullOrEmpty(fb))
        {
            <a class="btn btn-primary btn-sm" rel="publisher"
               href="https://facebook.com/@fb"
               target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        }
        @if (!string.IsNullOrEmpty(github))
        {
            <a class="btn btn-default btn-sm" rel="publisher"
               href="https://github.com/@github"
               target="_blank">
                <i class="fa fa-github"></i>
            </a>
        }
    </div>
</center>

@Display(Model.AuthorItems)